<main class="container mt-5">
    <h2>Dados do Livro</h2>
    <form (submit)="incluir()" ngNativeValidate>
        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" id="titulo" required [(ngModel)]="livro.titulo" name="titulo">
        </div>
        <div class="mb-3">
            <label for="resumo" class="form-label">Resumo</label>
            <textarea class="form-control" id="resumo" required [(ngModel)]="livro.resumo" name="resumo"></textarea>
        </div>
        <div class="mb-3">
            <label for="editora" class="form-label">Editora</label>
            <div>
                <select class="form-select" id="editora" required [(ngModel)]="livro.codEditora" name="editora">
                    <option *ngFor="let editora of editoras" [value]="editora.codEditora">
                        {{ editora.nome }}
                    </option>
                </select>
            </div>
        </div>
        <div class="mb-3">
            <label for="autores" class="form-label">Autores (um por linha)</label>
            <textarea class="form-control" id="autores" required [(ngModel)]="autoresForm" name="autores"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Salvar Dados</button>
    </form>
</main>

<style>
    select:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgb(201 223 255);
    }

    h2 {
        font-size: 45px;
        font-weight: 500;
    }
</style>